.header
	.navbar
		position: relative
		display: flex
		justify-content: space-between
		.navbar-brand
			.navbar-burger
				margin: 0px
		.navbar-menu
			position: absolute
			z-index: 99
			bottom: 0
			left: 0
			width: 100%
			height: 100vh
			padding: 1rem 0.5rem
			transition: all 0.3s
			transform: translate(-100%, 100%)
			background: rgba(0, 0, 0, 0.5)
			padding: 0px
			&.is-active
				transform: translate(0%, 100%)
			.navbar-start
				width: 60%
				height: 100%
				background: $white
				padding: 1rem 0.5rem
			.navbar-item
				font-weight: 700
		.navbar-user
			display: flex
			align-items: center
			.navbar-item
				position: inherit
				.icon, .avatar img
					vertical-align: middle
				.avatar
					border-radius: 50px
					width: 25px
					height: 25px
					img
						width: 100%
						max-height: inherit

@mixin header-desktop
	.header
		border-bottom: 1px solid $Grayish-blue
		.navbar
			padding: 0 3rem
			.navbar-menu
				position: relative
				transform: none
				width: inherit
				height: inherit
				background: none
				.navbar-start
					width: inherit
					height: inherit
					padding: 0px
					background: none
					margin: 0px auto 0 4rem
					.navbar-item
						font-weight: 400
						position: relative
						padding: 2rem 0.75rem
						&::before
							content: ''
							width: 0
							height: 2px
							background: $primary
							bottom: 0
							left: 50%
							position: absolute
							transform: translateX(-50%)
							transition: all 0.3s
						&:hover
							background: none
							color: inherit
							&::before
								width: calc(100% - 1.5rem)
			.navbar-user
				.navbar-item
					.avatar
						width: 35px
						height: 35px
						&:hover
							border: 1px solid $primary
							cursor: pointer

