.product
    width: 100%
    max-width: 450px
    margin: auto
    padding: 0px 1.5rem
    .product-info
        h1
            color: $Black
            line-height: 1
            margin: 1rem 0px 1.75rem
        p
            margin: 0px 0px 1rem
        h6
            color: $primary
    .product-price
        display: flex
        justify-content: space-between
        align-items: center
        h6
            color: $Grayish-blue
        h3
            display: flex
            align-items: center
            color: $Black
            span
                background: $secondary
                border-radius: 5px
                color: $primary
                font-size: 0.5em
                padding: 3px 8px
                margin: 0px 0px 0px 1rem
    .product_checkout
        display: flex
        flex-direction: column
        margin: 2rem 0px 0px
        .product_amount
            background: $Light-grayish-blue
            border-radius: 15px
            display: flex
            justify-content: space-between
            margin: 0px 0px 1rem 0px
            padding: 1rem
            button
                background: none
                padding: 0
                margin: 0
                width: 24px
                border: none
                color: $Black
                cursor: pointer
                font-weight: 700
                &:first-child
                    margin: 0px 1rem 0px 0px
                &:last-child
                    margin: 0px 0px 0px 1rem
            span
                width: 20px
                text-align: center
        .button
            border-radius: 15px
            min-height: 56px
            &:disabled
                background: $primary
                border: 1px solid $primary

@mixin product-desktop
    .product
        padding: 0px
        .product-price
            display: table
        .product_checkout
            display: flex
            flex-direction: row
            margin: 2rem 0px 0px
            .product_amount
                margin: 0px 1rem 0px 0px
                button
                    &:hover
                        span
                            color: $primary
                    &:first-child
                        margin: 0px 2rem 0px 0px
                    &:last-child
                        margin: 0px 0px 0px 2rem
            .button
                min-height: 56px
                width: 100%
