body, html
    margin: 0
    padding: 0
    box-sizing: border-box

main
    position: relative
    overflow: hidden

h1
    font-family: "Kumbh Sans", sans-serif
    font-size: 35px
    font-weight: 700
h2
    font-family: "Kumbh Sans", sans-serif
    font-size: 39px
    font-weight: 700
h3
    font-family: "Kumbh Sans", sans-serif
    font-size: 33px
    font-weight: 700
h4
    font-family: "Kumbh Sans", sans-serif
    font-size: 27px
    font-weight: 700
h5
    font-family: "Kumbh Sans", sans-serif
    font-size: 23px
    font-weight: 700
h6
    font-family: "Kumbh Sans", sans-serif
    font-size: 19px
    font-weight: 700
p
    color: $Dark-grayish-blue
    font-family: "Kumbh Sans", sans-serif
    font-size: 16px
a
    font-family: "Kumbh Sans", sans-serif
    font-size: 16px
.hero
    &.is-fullheight
        min-height: calc( 100vh - 88px )
